<!---NEEDS JS VALIDATION--->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <title></title>
</head><body>
<form target="_self" method="post">
<div style="text-align: center;"> </div>
<table>
<tbody>
<tr align="center">
<td colspan="2" rowspan="1" style="vertical-align: top; width: 173px;"><span style="font-weight: bold;">Database Settings</span><br>
</td>
</tr>
<tr>
<td style="width: 195px;">MySQL Server (host:port): <br>
</td>
<td style="width: 173px;"><input name="mysql_server" value="localhost:3306"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top; width: 195px;">Username:<br>
</td>
<td style="vertical-align: top; width: 173px;"><input name="mysql_username"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top; width: 195px;">Password:<br>
</td>
<td style="vertical-align: top; width: 173px;"><input name="mysql_password"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top; width: 195px;">Database Name:<br>
</td>
<td style="vertical-align: top; width: 173px;"><input name="mysql_database" value="globalsettings"><br>
</td>
</tr>
<tr align="center">
<td colspan="2" rowspan="1" style="vertical-align: top; width: 195px;"><span style="font-weight: bold;">System Settings</span><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;">Threads:<br>
</td>
<td style="vertical-align: top;"><input maxlength="3" name="threads" value="3"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top; text-align: right;"><button value="submit" name="submit">Submit</button><br>
</td>
</tr>
</tbody>
</table>
</form>
</body>
</html>